<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="css/mdp.css">
<link rel="stylesheet" type="text/css" href="css/footer.css">
</head>
<body id="dame">
  <header id="container">
	<nav class="menu">
		<div id="logo_recherche">
			<img src="https://cdn.glitch.com/92de824e-f10e-43a2-b6ef-2296b49d050c%2Fimage016.jpg?1558014603781">
			<form method="get" action="">
				<input type="search" name="q" placeholder="Rechercher un exercice">
				<input type="submit" value="OK">
			</form>
		</div>
		<ul>
			<li>
				<a href="/profil">{{ pseudo }}</a>
			</li>
			<li>
				<a href="/userConnecter">Membres connectés</a>
			</li>
      <li>
				<a href="/apropos">A Propos</a>
			</li>
			<li>
				<a href="/userDeconnecter">Deconnexion</a>
			</li>
		</ul>
	</nav>
  </header>
  <div id="conteneur">
   <section id="champsMdp">
     <h1>
       Modifier votre Mot De Passe
     </h1>
    <p><spam style="color: red;"><b>{{ message }}</b></spam></p>
    <p><spam style="color: green;"><b>{{ message2 }}</b></spam></p>
    <form method="post" action="" >
      <p><input type="password" name="password_change" class="colone_remplire" placeholder="Tapez votre nouveau mot de passe"></p>
      <p><input type="password" name="sec_password_change" class="colone_remplire" placeholder="Retapez votre nouveau mot de passe"></p>
			<p><input type="submit" name="submit" value="Valider les modifications" id="submit"></p>
		</form>
  </section>
    
  </div>
  <br/><br/>
  <footer>
        <p>Dames Deluxe | Tous droits réservés</p>
    </footer>
</body>
</html>