<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Inscription</title>
	<link rel="stylesheet" type="text/css" href="css/inscription.css">
	<!--<link rel="stylesheet" type="text/css" href="style/footer.css"> -->
</head>

<body>
	<div id="bloc_page">
		<header>
			<div id="photo">
				<img src="https://cdn.glitch.com/92de824e-f10e-43a2-b6ef-2296b49d050c%2Fimage016.jpg?1558014603781">
			</div>
			<div id="titre_principal">
				<h2>DAMES DELUXE</h2>
				<h4>Le meilleur du Jeu de Dames en ligne!</h4>
			</div>
		</header>
		<section>
			<div id="formulaire_connexion">
				<form action="/inscription" method="POST">
					<p><input type="text" name="pseudo" placeholder="Pseudo" class="colone_remplire" value="{{ pseudo }}" required> <p><spam style="color: red;"><b>{{ messagePseudo }}</b></spam></p></p>
					<p><input type="email" name="email" placeholder="Adresse e-mail" class="colone_remplire" value="{{ email }}" required> <p><spam style="color: red;"><b>{{ massageEmail }}</b></spam></p></p>
					<p><input type="password" name="password" placeholder="Tapez votre mot de passe" class="colone_remplire" value="{{ password }}" required></p>
					<p><input type="password" name="password2" placeholder="Confirmez votre mot de passe" class="colone_remplire" value="{{ password2 }}" required> <p><spam style="color: red;"><b>{{ messagePassword }}</b></spam></p></p>
					<p><input type="submit" name="submit" value="S'inscrire" id="submit"></p>
				</form>
			</div>
			<div id="pour_connexion">
				<p>Vous êtes déjà inscrit? <a href="/">Cliquez içi pour vous connecter</a></p>
			</div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
		</section>
		
		<footer>
		<p>Dames Deluxe | Tous droits réservés</p>
    </footer>
	</div>	
</body>
</html>