<!DOCTYPE html>
<html>
<head>
<title>Utilisateur connecté</title>
<link rel="stylesheet" type="text/css" href="css/liste.css">
<link rel="stylesheet" type="text/css" href="css/footer.css">
<script src="client.js" defer></script>
</head>
<body id="dame">
  <header id="container">
	<nav class="menu">
		<div id="logo_recherche">
			<img src="https://cdn.glitch.com/92de824e-f10e-43a2-b6ef-2296b49d050c%2Fimage016.jpg?1558014603781">
			<form method="get" action="">
				<input type="search" name="q" placeholder="Rechercher un Membre">
				<input type="submit" value="OK">
			</form>
		</div>
		<ul>
			<li>
				<a href="/profil">{{ pseudo }}</a>
			</li>
			<li>
				<a href="/userConnecter">Membres connectés</a>
			</li>
      <li>
				<a href="/apropos">A Propos</a>
			</li>
			<li>
				<a id="deconne" href="/userDeconnecter">Deconnexion</a>
			</li>
		</ul>
	</nav>
  </header>
  
  <div id="conteneur">
    <section>
      <h2 class="list1">
        Liste des défi
      </h2>
      <div id="defi">
        
      </div>
    </section>
    
    <section>
      <div id="jouerAvec">
      </div>
    </section>
    
    <section>
      <div id="endefi">
      </div>
    </section>
  
    <section >
      <h2 class="list1">
        Liste des user connecter
      </h2>
      <div id="listUser">

      </div>
    </section>
  </div>
  <br><br>
  <footer>
    <p>Dames Deluxe | Tous droits réservés</p>
  </footer>
</body>
</html>

