<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta content="text/javascript; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    
    <!-- import the webpage's javascript file -->
    <!--<script src="../dames.js" defer></script> -->
    <script src="./dames.js" defer></script>
</head>
  <nav class="menu">
		<ul>
			<li>
				<a href="#statistique">{{ moi }}</a>
			</li>
			<li>
				<a href="#connecter">{{ contre }}</a>
			</li>
			<li>
				<a href="/userDeconnecter">Deconnexion</a>
			</li>
		</ul>
	</nav>
  <body>
    <div id="dame">Activez JavaScript pour jouer.</div>
  </body>
</html>

<!--
"application/ecmascript"
"application/javascript"
"application/x-javascript"
"text/ecmascript"
"text/javascript"
"text/jscript"
"text/x-javascript"
"text/vbs"
"text/vbscript"
-->